lab_1/**/*.wlf
lab_1/**/*.bak
lab_1/work
lab_1/transcript

lab_2/**/*.wlf
lab_2/**/*.bak
lab_2/work
lab_2/transcript

lab_3/**/*.wlf
lab_3/**/*.bak
lab_3/work
lab_3/transcript

lab_4/**/*.wlf
lab_4/**/*.bak
lab_4/work
lab_4/transcript

lab_5/**/*.wlf
lab_5/**/*.bak
lab_5/work
lab_5/transcript

lab_6/**/*.wlf
lab_6/**/*.bak
lab_6/work
lab_6/transcript

lab_7/**/*.wlf
lab_7/**/*.bak
lab_7/work
lab_7/transcript

lab_8/**/*.wlf
lab_8/**/*.bak
lab_8/work
lab_8/transcript

